apiVersion: v1
kind: Secret
metadata:
  name: regcred
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: >-
    eyJhdXRocyI6eyJnaGNyLmlvIjp7InVzZXJuYW1lIjoicmVuYXRAc29jaWFsamV0LnBybyIsInBhc3N3b3JkIjoiZ2hwX2E0VVJyYkh2T1NMODl1aXZtaGQyVkpTNDQ1ZUQwTTBpZmoySCIsImF1dGgiOiJjbVZ1WVhSQWMyOWphV0ZzYW1WMExuQnlienBuYUhCZllUUlZVbkppU0haUFUwdzRPWFZwZG0xb1pESldTbE0wTkRWbFJEQk5NR2xtYWpKSUNnPT0ifX19Cg==

---


apiVersion: apps/v1
kind: Deployment
metadata:
  name: clicker-app
spec:
  replicas: 1 # Настройте количество реплик по необходимости
  selector:
    matchLabels:
      app: clicker-app
  template:
    metadata:
      labels:
        app: clicker-app
    spec:
      containers:
      - name: app
        image: ghcr.io/renatgaripov/shorts-link-sj-front/vue-app-fullstack:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        envFrom:
        - configMapRef:
            name: clicker-config
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
      # Раскомментируйте, если используете private registry
      imagePullSecrets:
      - name: regcred

